<div class="sidebar" id="sidebar">
    <h4>Dashboard</h4>
    <ul class="nav flex-column nav-pills">
        <li class="nav-item">
            <a href="#" class="nav-link" onclick="setActive(this); loadTab('Dashboard')">
                <i class="bi bi-person-circle"></i> My Profile
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" onclick="setActive(this); loadTab('PhotoLibrary')">
                <i class="bi bi-image"></i> Photo Library
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" onclick="setActive(this); loadTab('VideoLibrary')">
                <i class="bi bi-camera-video"></i> Video Library
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" onclick="setActive(this); loadTab('MusicLibrary')">
                <i class="bi bi-headphones"></i> Music Library
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" onclick="setActive(this); loadTab('News')">
                <i class="bi bi-newspaper"></i> News
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" onclick="setActive(this); loadTab('Games')">
                <i class="bi bi-controller"></i> Games
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" onclick="setActive(this); loadTab('Widgets')">
                <i class="bi bi-grid"></i> Widgets
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" onclick="setActive(this); loadTab('Users')">
                <i class="bi bi-people"></i> Users
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" onclick="setActive(this); loadTab('Chat')">
                <i class="bi bi-gear"></i> AI Chat
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" onclick="setActive(this); loadTab('Email')">
                <i class="bi bi-gear"></i> About Us
            </a>
        </li>
    </ul>
</div>
