@using Microsoft.AspNetCore.Authentication
@inject IHttpContextAccessor HttpContextAccessor

<nav class="navbar navbar-expand-lg px-3" style="background: #D3D3D3;">
    <!-- Mobile Sidebar Toggle -->
    <button class="btn btn-outline-secondary d-lg-none me-2" onclick="toggleSidebar()">
        <i class="bi bi-list"></i>
    </button>
    <a class="navbar-brand fw-bold" href="#">My Site</a>

    <div class="mx-auto" style="width: 500px;">
        <form id="topSearch" class="d-flex" onsubmit="event.preventDefault(); submitSearch();">
            <input id="topInput" class="form-control me-2" type="search" placeholder="Search Website..." aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>

    @if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
    {
        var user = HttpContextAccessor.HttpContext.User;
        var name = user.FindFirst(System.Security.Claims.ClaimTypes.Name)?.Value ?? user.Identity.Name;
        var email = user.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value ?? "NA";

        <div class="dropdown">
            <a class="d-flex align-items-center text-decoration-none dropdown-toggle" href="#" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="@Url.Content("/images/" + email + ".jpg")" alt="Profile" class="profile-img me-2" />
                
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                <li class="dropdown-item-text"><strong>@name</strong></li>
                <li class="dropdown-item-text">@email</li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="/Account/Logout">Sign Out</a></li>
            </ul>
        </div>
    }
    else
    {
        <a class="btn btn-outline-primary" href="/Account/Login">Sign In</a>
    }
</nav>
