<div class="snake-game-shell">
    <h4>🐦 Flappy Bird Game</h4>
    <canvas id="flappyCanvas" width="720" height="720"></canvas>

    <div class="score-board">
        Score: <span id="flappyScore">0</span>
    </div>

    <div class="controls">
        <button id="startFlappy" class="control-btn start">Start</button>
        <button id="pauseFlappy" class="control-btn pause">Pause</button>
        <button id="restartFlappy" class="control-btn secondary">Restart</button>
    </div>
</div>
