<div class="photolib gh-card p-3">
    <div class="d-flex align-items-center mb-3">
        <img src="/images/google-photo.png" style="height:32px; width:32px;" class="me-2" alt="Google Photos" />
        <h5 class="m-0">Photo Library</h5>
    </div>

    <!-- Folder selector -->
    <div class="folders">
        <a class="folder" target="gdriveFrame"
           href="https://drive.google.com/embeddedfolderview?id=1nJee7mQFFNIu4CosqHuYul3Ifj__wps9#grid"
           data-gd-id="1nJee7mQFFNIu4CosqHuYul3Ifj__wps9">
            <img src="/images/folder.png" class="folder-icon" alt="" />
            <div class="folder-name">Priti Pics</div>
        </a>

        <a class="folder" target="gdriveFrame"
           href="https://drive.google.com/embeddedfolderview?id=1nElVG_2L-73DARWhMPNC5BTTXGcZU7fV#grid"
           data-gd-id="1nElVG_2L-73DARWhMPNC5BTTXGcZU7fV">
            <img src="/images/folder.png" class="folder-icon" alt="" />
            <div class="folder-name">Priti Snaps</div>
        </a>

        <a class="folder" target="gdriveFrame"
           href="https://drive.google.com/embeddedfolderview?id=1O4WPWXzgTUIvNYiIwYmdgZy4bmGi_qvM#grid"
           data-gd-id="1O4WPWXzgTUIvNYiIwYmdgZy4bmGi_qvM">
            <img src="/images/folder.png" class="folder-icon" alt="" />
            <div class="folder-name">Videos</div>
        </a>

        <a class="folder" target="gdriveFrame"
           href="https://drive.google.com/embeddedfolderview?id=1OAHWr0S99pqHHQu6eFSLzIf7oy2LAHfY#grid"
           data-gd-id="1OAHWr0S99pqHHQu6eFSLzIf7oy2LAHfY">
            <img src="/images/folder.png" class="folder-icon" alt="" />
            <div class="folder-name">Priti Edits</div>
        </a>

        <a class="folder" target="gdriveFrame"
           href="https://drive.google.com/embeddedfolderview?id=1ew_edA-Xktv9fo_qKk7cgP3tvUecLovQ#grid"
           data-gd-id="1ew_edA-Xktv9fo_qKk7cgP3tvUecLovQ">
            <img src="/images/folder.png" class="folder-icon" alt="" />
            <div class="folder-name">Documents</div>
        </a>

        <a class="folder" target="gdriveFrame"
           href="https://drive.google.com/embeddedfolderview?id=1zT-vqDuOl5k0G8CBQGeWiJU63vCWacK4#grid"
           data-gd-id="1zT-vqDuOl5k0G8CBQGeWiJU63vCWacK4">
            <img src="/images/folder.png" class="folder-icon" alt="" />
            <div class="folder-name">Favorites</div>
        </a>

        <a class="folder" target="gdriveFrame"
           href="https://drive.google.com/embeddedfolderview?id=1nOkFVANqq-0FjNe22ZhGKwae7Xfw057j#grid"
           data-gd-id="1nOkFVANqq-0FjNe22ZhGKwae7Xfw057j">
            <img src="/images/folder.png" class="folder-icon" alt="" />
            <div class="folder-name">Items</div>
        </a>

        <a class="folder" target="gdriveFrame"
           href="https://drive.google.com/embeddedfolderview?id=1nQsdRJnHQyldSjQPDWGzZkZk5RnSOjJz#grid"
           data-gd-id="1nQsdRJnHQyldSjQPDWGzZkZk5RnSOjJz">
            <img src="/images/folder.png" class="folder-icon" alt="" />
            <div class="folder-name">Mehendi</div>
        </a>
    </div>

    <!-- Iframe area -->
    <div class="gh-card p-2">
        <iframe id="gdriveFrame" name="gdriveFrame" src="about:blank"
                style="width:100%; height:420px; border:0;"></iframe>
    </div>
</div>
