@model List<(string Id, string Name)>

<div class="photolib gh-card p-3">
    <div class="d-flex align-items-center mb-3">
        <img src="/images/google-photo.png" style="height:32px; width:32px;" class="me-2" alt="Google Photos" />
        <h5 class="m-0">Photo Library</h5>
    </div>

    <!-- Folder selector -->
    <div class="folders">
        @foreach (var folder in Model)
        {
            <a class="folder" target="gdriveFrame"
               href="https://drive.google.com/embeddedfolderview?id=@folder.Id#grid"
               data-gd-id="@folder.Id">
                <img src="/images/folder.png" class="folder-icon" alt="" />
                <div class="folder-name">@folder.Name</div>
            </a>
        }
        
    </div>

    <!-- Iframe area -->
    <div class="gh-card p-2">
        <iframe id="gdriveFrame" name="gdriveFrame" src="about:blank"
                style="width:100%; height:420px; border:0;"></iframe>
    </div>
</div>
