@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="padding:32px;">
    <h1>Welcome</h1>
    <p>Use the sidebar to navigate. Sign in to see your profile image in the top-right.</p>
</div>
